<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
      <link rel="stylesheet" href="/static/sweetalert/sweetalert.css">
      <script src="/static/sweetalert/ions_alert.js"></script>
      <script src="/static/sweetalert/sweetalert.min.js"></script>
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form">

            <div class="layui-form-item">
                <label class="layui-form-label">上级权限</label>
                <div class="layui-input-inline" style="width:200px;">
                    <select id="parent_id">
                        <option value="0">--无--</option>
                        {{range .auths}}
                            <option value="{{.Id}}">{{.AuthName}}</option>
                        {{end}}
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">权限名称</label>
                <div class="layui-input-inline" style="width:200px;">
                    <input type="text" id="auth_name" name="role_name" placeholder="权限权限" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">权限名称不能重复</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">URL地址</label>
                <div class="layui-input-inline" style="width:200px;">
                    <input type="text" id="auth_url"  placeholder="请输入URL地址" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">角色描述</label>
                <div class="layui-input-inline" style="width:200px;">
                    <input type="text" id="auth_desc"  placeholder="请输入角色描述" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">角色权重</label>
                <div class="layui-input-inline" style="width:200px;">
                    <input type="text" id="auth_weight"  placeholder="请输入数字权重" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">角色权重越大，值越大排序越靠前</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">是否启用</label>
                <div class="layui-input-block">
                    <input name="is_active" id="is_active_1" type="radio" value="1" checked="checked" title="启用"/>
                    <input name="is_active" id="is_active_0" type="radio" value="0" title="停用"/>
                </div>
            </div>

            <div class="layui-form-item ">
                <div class="layui-input-block">
                    <div class="layui-footer" >
                        <button  class="layui-btn" lay-filter="submit" lay-submit type="button">
                            提交
                        </button>
                        <a onclick=setTimeout(reload_list,100) class="layui-btn">返回</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        $(function () {
            layui.use("form", function(){
                let form = layui.form;
                //监听提交
                form.on('submit(submit)', function(data){
                    let auth_name = document.getElementById("auth_name").value;
                    let auth_desc = document.getElementById("auth_desc").value;
                    let auth_url = document.getElementById("auth_url").value;
                    let auth_weight = document.getElementById("auth_weight").value;
                    let is_active = $("input[name ='is_active']:checked").val()
                    let parent_id = document.getElementById("parent_id").value;

                    $.ajax({
                        url: "{{urlfor "Authcontroller.DoAdd"}}",
                        type:"POST",
                        data:{
                            "auth_name" :auth_name,
                            "auth_desc":auth_desc,
                            "auth_url":auth_url,
                            "auth_weight":auth_weight,
                            "is_active":is_active,
                            "parent_id":parent_id,

                        },
                        success: function(data){
                            let code = data["code"];
                            if (code == 200){
                                ions_alert.alertSuccessToast(data["msg"]);
                                setTimeout(reload_list,1000);
                            }else{
                                ions_alert.alertErrorToast(data["msg"]);
                            }
                        },
                        failed: function(data){
                            alert(data);
                        }
                    })

                    function reload_list()
                    {
                        //获取frame索引
                        let index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        window.location.href = "{{urlfor "Authcontroller.List"}}";

                    }
                });
            })
        });
    </script>
  </body>

</html>