<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
      <!--会冲突-->
      <!--<script type="text/javascript" src="./js/xadmin.js"></script>-->

      <link rel="stylesheet" href="/static/css/bootstrap-chosen.css">

      <script type="text/javascript" src="/static/js/chosen.jquery.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
      <link rel="stylesheet" href="/static/sweetalert/sweetalert.css">
      <script src="/static/sweetalert/ions_alert.js"></script>
      <script src="/static/sweetalert/sweetalert.min.js"></script>
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form" action="" lay-filter="component-form-group">
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-inline" style="width:200px;">
                    <input type="text" value="{{.role.RoleName}}" autocomplete="off" class="layui-input" disabled>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">角色描述</label>
                <div class="layui-input-inline" style="width:200px;">
                    <input type="text" value="{{.role.Desc}}" autocomplete="off" class="layui-input" disabled>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">添加用户</label>
                <div class="layui-input-block">
                    <select data-placeholder="请选择..." class="chosen-select" multiple style="width:350px;" id="role_user_select">
                        {{range .role.User}}
                        <option value="{{.Id}}" selected>{{.Username}}</option>
                        {{end}}

                        {{range .users}}
                            <option value="{{.Id}}">{{.Username}}</option>
                        {{end}}
                    </select>
                </div>
            </div>


            <div class="layui-form-item ">
                <div class="layui-input-block">
                    <div class="layui-footer" >
                        <button class="layui-btn" onclick="member_add()">立即提交</button>
                        <a onclick=setTimeout(reload_list,100) class="layui-btn">返回</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>

        $('.chosen-select').chosen({width: "100%"});
        function member_add(){
            let role_id = "{{.role.Id}}";
            let user_ids = "";
            let i = 0;
            $("#role_user_select :selected").each(function(){
                if (i == 0){
                    user_ids = $(this).val();
                }else{
                    user_ids = user_ids + "," + $(this).val();
                }
                i ++
            });
            $.ajax({
                url:"{{urlfor "Rolecontroller.DoRoleUser"}}",
                type:"POST",
                data:{
                    "role_id":role_id,
                    "user_ids":user_ids,
                },
                success: function(data){
                    if(data["code"] == 200){
                      alert(data["msg"]);
                        //获取frame索引
                        let index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        window.location.href="{{urlfor "Rolecontroller.List"}}";
                    }else{
                        alert("添加失败");
                        //获取frame索引
                        let index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        window.location.href="{{urlfor "Rolecontroller.List"}}";
                    }
                },
                failed: function(data){
                    ialert("添加失败");
                    //获取frame索引
                    let index = parent.layer.getFrameIndex(window.name);
                    //关闭当前frame
                    parent.layer.close(index);
                    window.location.href="{{urlfor "Rolecontroller.List"}}";
                }

            })
                alert("稍等...");
        }

    </script>

  </body>

</html>